.header {
  box-sizing: border-box;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 56px;
    margin-left: -19px;
    margin-right: -19px;
  }
}
